########################################################################################################################
# Happy Hare MMU Software
#
# EDIT THIS FILE BASED ON YOUR SETUP
#
# Copyright (C) 2022-2025  moggieuk#6538 (discord)
#                          moggieuk@hotmail.com
# This file may be distributed under the terms of the GNU GPLv3 license.
#
# Goal: Happy Hare MMU hardware pin config
#
# (\_/)
# ( *,*)
# (")_(") Happy Hare Ready
#
#
# This contains aliases for pins for MCU type unknown
#
[mcu mmu]
serial:/dev/serial/by-path/pci-0000:00:13.0-usb-0:3:1.0-port0


# PIN ALIASES FOR MMU MCU BOARD ----------------------------------------------------------------------------------------
# ██████╗ ██╗███╗   ██╗     █████╗ ██╗     ██╗ █████╗ ███████╗
# ██╔══██╗██║████╗  ██║    ██╔══██╗██║     ██║██╔══██╗██╔════╝
# ██████╔╝██║██╔██╗ ██║    ███████║██║     ██║███████║███████╗
# ██╔═══╝ ██║██║╚██╗██║    ██╔══██║██║     ██║██╔══██║╚════██║
# ██║     ██║██║ ╚████║    ██║  ██║███████╗██║██║  ██║███████║
# ╚═╝     ╚═╝╚═╝  ╚═══╝    ╚═╝  ╚═╝╚══════╝╚═╝╚═╝  ╚═╝╚══════╝
# Section to create alias for pins used by MMU for easier integration into Klippain and RatOS. The names match those
# referenced in the mmu_hardware.cfg file. If you get into difficulty you can also comment out this aliases definition
# completely and configure the pin names directly into mmu_hardware.cfg. However, use of aliases is encouraged.

# Note: that aliases are not created for TOOLHEAD_SENSOR, EXTRUDER_SENSOR or SYNC_FEEDBACK_SENSORS because those are
# most likely on the printer's main mcu. These should be set directly in mmu_hardware.cfg
#
[board_pins mmu]
mcu: mmu
aliases:
    # --- MOTOR DEL ENGRANAJE (GEAR) ---
    # Estos ya los configuraste tu:
    MMU_GEAR_STEP=PA3,
    MMU_GEAR_DIR=PA1,
    MMU_GEAR_ENABLE=PA5,
   
     MMU_GEAR_UART=PA7,       # OJO: Si no usas UART, comenta esta linea. Si usas driver TMC stand-alone, esta bien vacio, pero mejor comentar.
     MMU_GEAR_DIAG=PG0,

    # --- SELECTOR (SERVO) ---
    # ¡IMPORTANTE! Tienes que poner el pin de tu servo aqui o no funcionara el MMX.
    # Ejemplo: MMU_SEL_SERVO=PA1,
    MMU_SEL_SERVO=PC7, 

    # --- SENSORES (COMPUERTAS / GATES) ---
    # Tienes que configurar al menos el primero para probar.
    # Ejemplo: MMU_PRE_GATE_0=^PC15,
    MMU_PRE_GATE_0=PA6,
    MMU_PRE_GATE_1=PA4,
    MMU_PRE_GATE_2=PA0,
    MMU_PRE_GATE_3=PA2,

    # --- EXTRAS ---
    MMU_NEOPIXEL=PB5,

    # --- LO QUE NO USAS (COMENTADO PARA QUE NO DE ERROR) ---
    # Al poner # al principio, Klipper lo ignora y no da error de sintaxis.
    # MMU_GEAR_UART_1=,
    # MMU_GEAR_STEP_1=,
    # MMU_GEAR_DIR_1=,
    # MMU_GEAR_ENABLE_1=,
    # MMU_GEAR_DIAG_1=,
    # ... (El resto de motores extra) ...
    
    # ... (El resto de sensores que dejaste vacios) ...
    # MMU_SEL_UART=,
    # MMU_SEL_DIR=,
    # MMU_SEL_ENABLE=,
    # MMU_SEL_DIAG=,
    # MMU_SEL_ENDSTOP=,
    # MMU_ENCODER=,
    # MMU_GATE_SENSOR=,